@using RestTraining.Api.DTO
@model List<HotelDTO>

@{
    ViewBag.Title = "All hotels";
}

<h2>All hotels</h2>
<div class="row">

    <div class="btn-group" style="float: right">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action(MVC.Hotels.Create())" class="btn btn-small"><i class="icon-plus-sign"></i>Add</a></li>
        </ul>
    </div>

    <div class="span12">
        <ul class="thumbnails">
            @foreach (var hotel in @Model)
            {
                @Html.DisplayFor(x => hotel, MVC.Shared.Views.DisplayTemplates.HotelDTO)  
            }
        </ul>
    </div>
</div>
