@using RestTraining.Api.DTO
@model List<HotelDTO>

@{
    ViewBag.Title = "All hotels";
}

<h2>All hotels</h2>

<div class="actions">
    @Html.ActionLink("Add", MVC.Hotels.Create())
</div>
<ul>
    @foreach (var hotel in @Model)
    {
        <li>
            @Html.DisplayFor(x => hotel, MVC.Shared.Views.DisplayTemplates.HotelDTO)
        </li>
    }
</ul>

