@using RestTraining.Web
@model RestTraining.Web.Models.BookingFullViewModel

@{
    var viewDataProvider = new ViewDataProviderForView(this);
}

    <h3>Booked Successfuly</h3>

    @Html.DisplayFor(x => x, MVC.Shared.Views.DisplayTemplates.BookingFullViewModel)

@Html.ActionLink("Delete this booking", MVC.BoundedBooking.Delete(viewDataProvider.HotelId, Model.BookingId), new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Edit this booking", MVC.BoundedBooking.Edit(viewDataProvider.HotelId, Model.BookingId), new { @class = "btn btn-primary btn-large" })


