@using RestTraining.Web
@model List<RestTraining.Api.DTO.BoundedPeriodDTO>

@{
    var viewDateProvider = new ViewDataProviderForView(this);
}

@Html.ActionLink("Add", MVC.BoundedPeriods.Create(viewDateProvider.HotelId), new { @class = "btn btn-primary btn-large" })

<ol>
@for (int index = 0; index < Model.Count; index++)
{
    var period = Model[index];
    <li>
        <p>
            <h4>
                <small>from </small>
                <span>@period.BeginDate.ToString("MM-dd-yyyy")</span>
                <small>to </small>
                <span>@period.EndDate.ToString("MM-dd-yyyy")</span>
            </h4>
        </p>
    </li>
}
    </ol>