@using System.Web.Mvc.Html;
@using RestTraining.Common.DTO;
@using RestTraining.Web.Helper

@model HotelNumberTypeDTO

@{
    Layout = null;
}

<h5>Type</h5>
<div class="editor-field">

    @Html.EnumDropDownListFor(model => model, Model)

    @Html.ValidationMessageFor(model => model)

</div>
