@using RestTraining.Common.DTO
@model List<HotelsAttractionDTO>

@{
    Layout = null;
}

<h5>Hotels attractions</h5>
<a class="btn" onclick=" createItem('.hotels-attraction-source', '.hotels-attractions'); return false;" href="#">Add</a>
<div class="hotels-attractions">
    @foreach (var item in Model)
    {
        <div class="hotels-attraction">
            @Html.EditorFor(x => item, MVC.Shared.Views.EditorTemplates.HotelsAttraction)
            @Html.ValidationMessageFor(x => item)
        </div>
    }
</div>

<div class="hotels-attraction-source" style="display: none">
    @{
        var hidden = new HotelsAttractionDTO() { Count = 1, HotelsAttractionType = HotelsAttractionTypeDTO.TennisCourt };
    }
    @Html.EditorFor(x => hidden, MVC.Shared.Views.EditorTemplates.HotelsAttraction, "HotelsAttraction", new { isDisabled = true })
</div>
