@using RestTraining.Domain
@using RestTraining.Web.Helper
@model HotelNumberType

@{
    Layout = null;
}

<div class="editor-label">
            @Html.Label("Hotel number type")
        </div>
        <div class="editor-field">
            
            @Html.EnumDropDownListFor(model => model, Model)

            @Html.ValidationMessageFor(model => model)

        </div>