@using RestTraining.Web.Helper;
@model byte[]

@{
    Layout = null;
}

@Html.HiddenFor(model => Model)

<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;">
      <img src="@ImageHelper.ToHtmlSrc(Model)">
  </div>
  <div>
    <span class="btn btn-file">
        <span class="fileupload-new">Select image</span>
        <span class="fileupload-exists">Change</span>
        <input type="file" id="file" name="file"/></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>
