@using RestTraining.Api.DTO
@model List<IncludedItemDTO>

@{
    Layout = null;
}

<h5>Include items</h5>
<a class="btn" onclick=" createItem(); return false;" href="#">Add</a>
<div class="include-items">
    @foreach (var item in Model)
    {
        <div class="include-item">
            @Html.EditorFor(x => item, "IncludeItem")
        </div>
    }
</div>

<script>
    function removeItem(element) {
        var nodeToDelete = element.parentNode;
        var nodeDeleteFrom = element.parentNode.parentNode;
        nodeDeleteFrom.removeChild(nodeToDelete);
    }
</script>

<script type="text/javascript">
    function createItem() 
    {
        var emptyForm = $(".include-item-source").last().clone();
        emptyForm.css("display", "block");
        $(".include-items").append(emptyForm);
    }
</script>