@using RestTraining.Common.DTO
@model List<IncludedItemDTO>

@{
    Layout = null;
}

<h5>Include items</h5>
<a class="btn" onclick=" createItem('.include-item-source', '.include-items'); return false;" href="#">Add</a>
<div class="include-items">
    @foreach (var item in Model)
    {
        <div class="include-item">
            @Html.EditorFor(x => item, MVC.Shared.Views.EditorTemplates.IncludeItem)
            @Html.ValidationMessageFor(x => item)
        </div>
    }
</div>          

<div class="include-item-source" style="display: none">
        @{
            var hidden = new IncludedItemDTO { Count = 1,  IncludeItemType = IncludeItemTypeDTO.AirConditioner };
        }
        @Html.EditorFor(x => hidden, MVC.Shared.Views.EditorTemplates.IncludeItem, "IncludeItem", new { isDisabled = true })
</div>