@using RestTraining.Common.DTO
@model List<WindowViewTypeDTO>
@{
    Layout = null;
}
<h4>Views to: </h4>
@foreach (WindowViewTypeDTO d in Enum.GetValues(typeof(WindowViewTypeDTO)))
{           
    <label class="checkbox">
        @{
                var isChecked = Model != null && Model.Contains(d);
                if (isChecked)
                {
                    <input type="checkbox" name="WindowViews" value="@d" checked>
                }
                else
                {
                    <input type="checkbox" name="WindowViews" value="@d">
                }
        }
        @d.ToString()
    </label>         
}
@Html.ValidationMessageFor(model => model)