@using RestTraining.Domain
@model List<WindowViewType>
@{
    Layout = null;
}
<h4>Views to: </h4>
@foreach (WindowViewType d in Enum.GetValues(typeof(WindowViewType)))
{           
    <label class="checkbox">
        @{
                var isChecked = Model != null && Model.Contains(d);
                if (isChecked)
                {
                    <input type="checkbox" name="WindowViews" value="@d" checked>
                }
                else
                {
                    <input type="checkbox" name="WindowViews" value="@d">
                }
        }
        @d.ToString()
    </label>         
}
@Html.ValidationMessageFor(model => model)