@using RestTraining.Api.DTO
@model HotelNumberDTO

<h2>Create hotel number</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Hotel number</legend>
            @Html.EditorFor(x => x.IncludeItems, "IncludeItemList")
            @Html.EditorFor(x => x.HotelNumberType, "HotelNumberType")
            @Html.EditorFor(x => x.WindowViews, "WindowViewTypeList")
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}